.App {
  text-align: center;
  background-color: white;
  display: flex; /* XXX maybe don't need this */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(4px + 2vh);
  color: rgb(108, 33, 33);
  font-family: "Gill Sans", sand-serif;
}

#TimeTiles {
  min-height: 95vh;
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 60% 35%;
  gap: 5px 5px;
  grid-template-areas:
    "day-0 day-1 day-2 day-3 day-4 day-5 day-6"
    "Controls Controls Supply Supply Supply Supply Supply"
}

#day-0 { grid-area: day-0; }
#day-1 { grid-area: day-1; }
#day-2 { grid-area: day-2; }
#day-3 { grid-area: day-3; }
#day-4 { grid-area: day-4; }
#day-5 { grid-area: day-5; }
#day-6 { grid-area: day-6; }
#Controls { grid-area: Controls; }
#Supply { grid-area: Supply; }

#Controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10%;
}

#Controls .button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 45%;
}

/* Common styles */
.tile-container {
  background-color: beige;
  @media print {
    background-color: rgba(245, 245, 220, 0.3);
  }
  border: 2px dashed tan;
  border-radius: 10px;
  padding: 5px;
}

.tile-holder {
  width: 60px;
  margin: 3px;
}

.colored {
  border-radius: 3px;
  border: 2px solid tan;
}

.tile-color-1 { background-color: #9bd3f6; }
.tile-color-2 { background-color: #ffff91; }
.tile-color-3 { background-color: #ca9896; }
.tile-color-4 { background-color: #ff95ca; }
.tile-color-5 { background-color: #b4f7b4; }
.tile-color-6 { background-color: #c2b7fc; }
.tile-color-7 { background-color: #ff9784; }
.tile-color-8 { background-color: #d1d1d1; }

.button {
  background-color: #FFFFFF;
  border: 1px solid rgb(209, 213, 219);
  border-radius: .5rem;
  box-sizing: border-box;
  color: rgb(108, 33, 33);
  font-family: "Gill Sans", sand-serif;
  font-size: .9em;
  font-weight: 600;
  line-height: 1.25rem;
  padding: .5rem 1rem;
  text-align: center;
  text-decoration: none #D1D5DB solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  user-select: none;
  touch-action: manipulation;
  margin: 3px;
}

.button:disabled {
  color: rgb(156, 163, 175);
  cursor: default;
}

.button:hover:enabled {
  background-color: rgb(249,250,251);
}

.button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.button:focus-visible {
  box-shadow: none;
}

input {
  font-family: "Gill Sans", sand-serif;
  font-size: 1em;
  color: rgb(108, 33, 33);
  border: 2px solid rgb(108, 33, 33);
  border-radius: 5px;
  margin: 3px 0px;
}
