.Day {
    margin-block-start: 0.5em;
    justify-content: center;
}

.day-header {
    padding-bottom: 0.25em;
}

.Day .tile-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Day .tile-holder {
    /* Extra space if a tile or gap is in a day */
    margin-top: 10%;
    margin-bottom: 10%;
    margin-right: auto;
    margin-left: auto;
    height: calc(30% - 4px);
}

.Gap {
    border-radius: 3px;
    border: 2px transparent;
}