#Supply {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    @media print {
        display: none;
    }
}

#Supply .tile-holder {
    height: calc(50% - 8px);
}

#Supply .Tile {
    margin: 1px;
}