.Tile {
    align-content: center;
    writing-mode: vertical-rl;
    cursor: move;
    /* subtract border width */
    width: calc(100% - 4px);
    height: calc(100% - 4px);

    span {
        vertical-align: middle;
    }

    @media print {
        color: transparent;
    }
}
