.Tile {
    align-content: center;
    writing-mode: vertical-rl;
    height: 15vh;
    width: 60px;
    cursor: move;

    span {
        vertical-align: middle;
    }

    @media print {
        color: transparent;
    }
}